@charset "utf-8";

$base: "/images";
$bg-color: #fff;
$base-font-color: #333;
$point-color: #71acbc;
$sub-color: #999;

html {
    background-color: $bg-color;
    color: $base-font-color;
}

input,
button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

.container {
    box-sizing: border-box;
    max-width: 89rem;
    min-width: 32rem;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.topWrapper {
    padding: 5rem 0 3rem;
    border-bottom: .1rem dashed $sub-color;
    text-align: center;

    .photo {
        box-sizing: border-box;
        display: inline-block;
        width: 11rem;
        height: 11rem;
        margin-bottom: 1rem;
        border-radius: 50%;
        background-color: #eee;
        overflow: hidden;
        text-align: center;

        img {
            width: 100%;
            margin-top: -1.2rem;
            object-fit: cover;
        }
    }

    .messageWrapper {
        padding-bottom: 2rem;
        font-weight: 400;
        font-size: 3.4rem;
        text-transform: uppercase;
    }

    .infoWrap {
        max-width: 55rem;
        margin: 0 auto;

        .part {
            display: inline-block;
            margin: .3rem 0;
            padding: 0 1rem;

            dt {
                display: inline-block;
                padding-right: .6rem;
                font-size: 1.2rem;
                color: $sub-color;

                &::after {
                    content: ".";
                }
            }

            dd {
                display: inline-block;
                color: $base-font-color;

                a {
                    color: $base-font-color;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }

        + .infoWrap {
            padding-top: .5rem;

            .part {
                padding: 0 .3rem;

                dt {
                    display: none;
                }

                dd {
                    vertical-align: top;

                    a {
                        display: block;
                        width: 2.4rem;
                        height: 2.4rem;
                        background-repeat: no-repeat;
                        background-position: 0 0;
                        background-size: 100%;
                        font-size: 0;

                        &.github {
                            background-image: url("#{$base}/icons/github.png");
                        }

                        &.website {
                            background-image: url("#{$base}/icons/home.png");
                        }

                        &.email {
                            background-image: url("#{$base}/icons/email.png");
                        }

                        &:hover {
                            opacity: .9;
                        }
                    }
                }
            }

            @media print {
                padding: 0;

                .part {
                    padding: 0 1rem;

                    dt {
                        display: inline-block;
                    }

                    dd {
                        a {
                            display: inline-block;
                            width: auto;
                            height: auto;
                            font-size: 1.4rem;

                            &.github,
                            &.website,
                            &.email {
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.contentsWrapper {
    padding: 3rem 0;

    .history {
        padding-bottom: 3.4rem;
        overflow: hidden;

        h2 {
            padding-left: 2rem;
            font-size: 1.5rem;
            font-weight: normal;
            color: $bg-color;

            span {
                padding: .1rem .8rem;
                background-color: $point-color;
            }
        }

        .partWrap {
            position: relative;
            border-bottom: .1rem solid $point-color;
            font-size: 0;

            &::after {
                content: "";
                position: absolute;
                right: -.7rem;
                bottom: .3rem;
                width: 2rem;
                height: 2rem;
                border-width: .1rem;
                border-style: solid;
                border-color: transparent transparent $point-color;
                transform: rotate(30deg);
            }

            .part {
                position: relative;
                display: inline-block;
                box-sizing: border-box;
                width: percentage(1/3);
                padding: 1.6rem 1rem 1.8rem 2rem;
                bottom: -.1rem;
                border-bottom: .1rem solid $point-color;
                vertical-align: bottom;

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -.7rem;
                    left: 2rem;
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    border: .2rem solid $point-color;
                    background-color: $bg-color;
                }

                dt {
                    display: none;
                }

                dd {
                    font-size: 1.2rem;

                    &:first-of-type {
                        padding-bottom: .4rem;
                        font-weight: 500;
                        font-size: 1.6rem;
                    }
                }

                .row {
                    .rank {
                        padding-left: .5rem;

                        &::before {
                            content: "-";
                            margin-right: .4rem;
                        }
                    }
                }

                .gpa {
                    padding-top: .5rem;

                    span {
                        background-color: #eee;
                        border: .1rem solid #ddd;
                        border-radius: .5rem;
                        padding: 0 .4rem;
                        font-size: 1.1rem;
                        color: #666;
                    }
                }

                .period {
                    padding: 1rem 0 .2rem;
                    color: $sub-color;
                }
            }
        }
    }

    .certificateWrapper,
    .educationCompletionWrapper,
    .awardsWrapper {
        padding-bottom: 4.8rem;
        font-size: 1.3rem;

        h2 {
            padding-bottom: .4rem;
            font-size: 1.6rem;
            font-weight: normal;
            color: #999;
        }

        ul {
            border-top: .1rem solid $point-color;
            border-bottom: .1rem solid $point-color;

            li {
                display: table;
                width: 100%;
                table-layout: fixed;
                padding: 1rem 0;

                + .part {
                    border-top: .1rem solid rgba($sub-color, .3);
                }

                dl {
                    display: table-cell;

                    &:first-child {
                        width: 30%;
                    }

                    dt {
                        display: none;
                    }
                }
            }
        }
    }

    .certificateWrapper {
        dl {
            &:first-child {
                + dl {
                    width: 47%;
                }
            }
        }
    }

    .skillsWrapper {
        margin: 0 0 3.8rem;
        padding: 4.8rem 0 1.8rem;
        background-color: rgba($sub-color, .1);

        h2 {
            padding-left: 2rem;
            padding-bottom: 2rem;
            font-size: 1.5rem;
            font-weight: normal;
            color: $bg-color;

            span {
                padding: .1rem .8rem;
                background-color: $sub-color;
            }
        }

        .skillContentsWrap {
            margin-left: 2rem;

            .partWrap {
                display: table;
                width: 100%;
                table-layout: fixed;
            }

            .part {
                display: table-cell;
                padding-right: 2rem;
            }

            dl {
                dt {
                    padding-bottom: 1rem;
                    word-break: break-all;
                    color: $point-color;
                }

                dd {
                    ul {
                        li {
                            width: 100%;
                            height: 1.8rem;
                            margin-top: 1rem;
                            background-color: rgba($sub-color, .4);
                            box-shadow: inset 1px 1px rgba(0, 0, 0, .1);
                            overflow: hidden;
                            transform: translateZ(0);

                            &:first-child {
                                margin-top: 0;
                            }

                            .name {
                                box-sizing: border-box;
                                height: 100%;
                                padding-left: 1rem;
                                background-color: $point-color;
                                box-shadow: inset .1rem .1rem rgba(0, 0, 0, .2);
                                transform: translateX(-100%);
                                transition: transform .4s;
                                font-size: 1.2rem;

                                span {
                                    display: inline-block;
                                    padding-top: .2rem;
                                    color: $bg-color;
                                }

                                &.inView {
                                    transform: none;
                                }
                            }
                        }
                    }
                }
            }

            .website,
            .description {
                display: none;
                font-size: 1.2rem;
                color: rgba($sub-color, .8);
            }

            @media (max-width: 640px) {
                .partWrap {
                    display: block;

                    .part {
                        display: block;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }

    .experienceWrapper {
        h2 {
            display: none;
        }

        ul {
            li {
                padding: 1.5rem 2rem;
                border-bottom: .1rem solid #ccc;
            }
        }

        .projectWrap {
            display: table;
            width: 100%;
            table-layout: fixed;
            font-size: 1.2rem;

            a {
                color: $point-color;

                &:hover {
                    text-decoration: underline;
                }
            }

            .col {
                display: table-cell;
                vertical-align: top;

                &:first-child {
                    width: 25%;

                    + .col {
                        width: 60%;
                    }
                }

                dl {
                    + dl {
                        padding-top: .2rem;
                    }

                    dt {
                        display: none;
                    }

                    dd {
                        &.company {
                            font-size: 1.2rem;
                            color: $sub-color;
                        }

                        &.name {
                            font-size: 1.6rem;
                        }

                        .icon {
                            display: block;
                            width: 3rem;

                            img {
                                display: block;
                                width: 100%;
                            }
                        }
                    }

                    &.type {
                        padding-bottom: 1rem;
                        font-size: 1.4rem;
                        color: $sub-color;
                    }

                    &.description {
                        padding-bottom: 1rem;
                        line-height: 1.6rem;
                    }

                    &.period,
                    &.vcs {
                        dt {
                            display: inline-block;

                            &::after {
                                content: ":";
                                padding: 0 .4rem;
                            }
                        }

                        dd {
                            display: inline-block;
                        }
                    }
                }

                &.appsWrap {
                    .part {
                        margin-right: 2rem;
                        padding-left: 1rem;
                        padding-right: 1rem;

                        + .part {
                            margin-top: 1rem;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }

        @media (max-width: 640px) {
            ul {
                li {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
            }

            .projectWrap {
                display: block;

                .col {
                    display: block;

                    &:first-child {
                        width: 100%;
                        padding: .4rem 0;
                        margin-bottom: 1rem;
                        background: #f1f1f1;

                        + .col {
                            width: 100%;
                        }

                        dl {
                            padding: 0 1rem;
                        }
                    }

                    dl {
                        &.role {
                            padding: 1rem 1rem 0;
                        }
                    }
                }
            }
        }
    }
}

