extends /layouts/layout.pug

block variables
  -
    var page = {
      title: 'Chasooyoung Resume',
      bodyId: 'resume'
    }

block append css
  link(rel="stylesheet" href="./styles/index.css")

block body
  .container= name
    div 안녕하세요
