html {
  background-color: #fff;
  color: #333;
}

input,
button {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.container {
  box-sizing: border-box;
  max-width: 89rem;
  min-width: 32rem;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 1.4rem;
}

.topWrapper {
  padding: 5rem 0 3rem;
  border-bottom: 0.1rem dashed #999;
  text-align: center;
}

.topWrapper .photo {
  box-sizing: border-box;
  display: inline-block;
  width: 11rem;
  height: 11rem;
  margin-bottom: 1rem;
  border-radius: 50%;
  background-color: #eee;
  overflow: hidden;
  text-align: center;
}

.topWrapper .photo img {
  width: 100%;
  margin-top: -1.2rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.topWrapper .messageWrapper {
  padding-bottom: 2rem;
  font-weight: 400;
  font-size: 3.4rem;
  text-transform: uppercase;
}

.topWrapper .infoWrap {
  max-width: 55rem;
  margin: 0 auto;
}

.topWrapper .infoWrap .part {
  display: inline-block;
  margin: .3rem 0;
  padding: 0 1rem;
}

.topWrapper .infoWrap .part dt {
  display: inline-block;
  padding-right: .6rem;
  font-size: 1.2rem;
  color: #999;
}

.topWrapper .infoWrap .part dt::after {
  content: ".";
}

.topWrapper .infoWrap .part dd {
  display: inline-block;
  color: #333;
}

.topWrapper .infoWrap .part dd a {
  color: #333;
}

.topWrapper .infoWrap .part dd a:hover {
  text-decoration: underline;
}

.contentsWrapper {
  padding: 3rem 0;
}

.contentsWrapper .history {
  padding-bottom: 3.4rem;
  overflow: hidden;
}

.contentsWrapper .history h2 {
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #fff;
}

.contentsWrapper .history h2 span {
  padding: .1rem .8rem;
  background-color: #71acbc;
}

.contentsWrapper .history .partWrap {
  position: relative;
  border-bottom: 0.1rem solid #71acbc;
  font-size: 0;
}

.contentsWrapper .history .partWrap::after {
  content: "";
  position: absolute;
  right: -.7rem;
  bottom: .3rem;
  width: 2rem;
  height: 2rem;
  border-width: .1rem;
  border-style: solid;
  border-color: transparent transparent #71acbc;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.contentsWrapper .history .partWrap .part {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 33.33333%;
  padding: 1.6rem 1rem 1.8rem 2rem;
  bottom: -.1rem;
  border-bottom: 0.1rem solid #71acbc;
  vertical-align: bottom;
}

.contentsWrapper .history .partWrap .part:after {
  content: "";
  position: absolute;
  bottom: -.7rem;
  left: 2rem;
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.2rem solid #71acbc;
  background-color: #fff;
}

.contentsWrapper .history .partWrap .part dt {
  display: none;
}

.contentsWrapper .history .partWrap .part dd {
  font-size: 1.2rem;
}

.contentsWrapper .history .partWrap .part dd:first-of-type {
  padding-bottom: .4rem;
  font-weight: 500;
  font-size: 1.6rem;
}

.contentsWrapper .history .partWrap .part .row .rank {
  padding-left: .5rem;
}

.contentsWrapper .history .partWrap .part .row .rank::before {
  content: "-";
  margin-right: .4rem;
}

.contentsWrapper .history .partWrap .part .gpa {
  padding-top: .5rem;
}

.contentsWrapper .history .partWrap .part .gpa span {
  background-color: #eee;
  border: .1rem solid #ddd;
  border-radius: .5rem;
  padding: 0 .4rem;
  font-size: 1.1rem;
  color: #666;
}

.contentsWrapper .history .partWrap .part .period {
  padding: 1rem 0 .2rem;
  color: #999;
}

.contentsWrapper .certificateWrapper,
.contentsWrapper .educationCompletionWrapper,
.contentsWrapper .awardsWrapper {
  padding-bottom: 4.8rem;
  font-size: 1.3rem;
}

.contentsWrapper .certificateWrapper h2,
.contentsWrapper .educationCompletionWrapper h2,
.contentsWrapper .awardsWrapper h2 {
  padding-bottom: .4rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #999;
}

.contentsWrapper .certificateWrapper ul,
.contentsWrapper .educationCompletionWrapper ul,
.contentsWrapper .awardsWrapper ul {
  border-top: 0.1rem solid #71acbc;
  border-bottom: 0.1rem solid #71acbc;
}

.contentsWrapper .certificateWrapper ul li,
.contentsWrapper .educationCompletionWrapper ul li,
.contentsWrapper .awardsWrapper ul li {
  display: table;
  width: 100%;
  table-layout: fixed;
  padding: 1rem 0;
}

.contentsWrapper .certificateWrapper ul li + .part,
.contentsWrapper .educationCompletionWrapper ul li + .part,
.contentsWrapper .awardsWrapper ul li + .part {
  border-top: 0.1rem solid rgba(153, 153, 153, 0.3);
}

.contentsWrapper .certificateWrapper ul li dl,
.contentsWrapper .educationCompletionWrapper ul li dl,
.contentsWrapper .awardsWrapper ul li dl {
  display: table-cell;
}

.contentsWrapper .certificateWrapper ul li dl:first-child,
.contentsWrapper .educationCompletionWrapper ul li dl:first-child,
.contentsWrapper .awardsWrapper ul li dl:first-child {
  width: 30%;
}

.contentsWrapper .certificateWrapper ul li dl dt,
.contentsWrapper .educationCompletionWrapper ul li dl dt,
.contentsWrapper .awardsWrapper ul li dl dt {
  display: none;
}

.contentsWrapper .certificateWrapper dl:first-child + dl {
  width: 47%;
}

.contentsWrapper .skillsWrapper {
  margin: 0 0 3.8rem;
  padding: 4.8rem 0 1.8rem;
  background-color: rgba(153, 153, 153, 0.1);
}

.contentsWrapper .skillsWrapper h2 {
  padding-bottom: 1.8rem;
  font-size: 1.6rem;
  font-weight: normal;
  color: #fff;
}

.contentsWrapper .skillsWrapper h2 span {
  padding: 0 .4rem;
  background-color: rgba(153, 153, 153, 0.8);
}

.contentsWrapper .skillsWrapper .skillContentsWrap {
  margin-left: 2rem;
}

.contentsWrapper .skillsWrapper .skillContentsWrap .partWrap {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.contentsWrapper .skillsWrapper .skillContentsWrap .part {
  display: table-cell;
  padding-right: 2rem;
}

.contentsWrapper .skillsWrapper .skillContentsWrap dl dt {
  padding-bottom: 1rem;
  word-break: break-all;
  color: #71acbc;
}

.contentsWrapper .skillsWrapper .skillContentsWrap dl dd ul li {
  width: 100%;
  height: 1.8rem;
  margin-top: 1rem;
  background-color: rgba(153, 153, 153, 0.4);
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.contentsWrapper .skillsWrapper .skillContentsWrap dl dd ul li:first-child {
  margin-top: 0;
}

.contentsWrapper .skillsWrapper .skillContentsWrap dl dd ul li .name {
  box-sizing: border-box;
  height: 100%;
  padding-left: 1rem;
  background-color: #71acbc;
  -webkit-animation: slideIn 10s infinite;
  animation: slideIn 10s infinite;
  box-shadow: inset 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-size: 1.2rem;
  padding-bottom: .3rem;
}

.contentsWrapper .skillsWrapper .skillContentsWrap dl dd ul li .name span {
  display: inline-block;
  padding-top: .2rem;
  color: #fff;
}

.contentsWrapper .skillsWrapper .skillContentsWrap .website,
.contentsWrapper .skillsWrapper .skillContentsWrap .description {
  display: none;
  font-size: 1.2rem;
  color: rgba(153, 153, 153, 0.8);
}

.contentsWrapper .experienceWrapper h2 {
  display: none;
}

.contentsWrapper .experienceWrapper ul li {
  padding: 1.5rem 2rem;
  border-bottom: .1rem solid #ccc;
}

.contentsWrapper .experienceWrapper .projectWrap {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 1.2rem;
}

.contentsWrapper .experienceWrapper .projectWrap a {
  color: #71acbc;
}

.contentsWrapper .experienceWrapper .projectWrap a:hover {
  text-decoration: underline;
}

.contentsWrapper .experienceWrapper .projectWrap .col {
  display: table-cell;
  vertical-align: top;
}

.contentsWrapper .experienceWrapper .projectWrap .col:first-child {
  width: 25%;
}

.contentsWrapper .experienceWrapper .projectWrap .col:first-child + .col {
  width: 60%;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl + dl {
  padding-top: .2rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl dt {
  display: none;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl dd.company {
  font-size: 1.2rem;
  color: #999;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl dd.name {
  font-size: 1.6rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl dd .icon {
  display: block;
  width: 3rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl dd .icon img {
  display: block;
  width: 100%;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl.type {
  padding-bottom: 1rem;
  font-size: 1.4rem;
  color: #999;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl.description {
  padding-bottom: 1rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl.period dt, .contentsWrapper .experienceWrapper .projectWrap .col dl.vcs dt {
  display: inline-block;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl.period dt::after, .contentsWrapper .experienceWrapper .projectWrap .col dl.vcs dt::after {
  content: ":";
  padding: 0 .4rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col dl.period dd, .contentsWrapper .experienceWrapper .projectWrap .col dl.vcs dd {
  display: inline-block;
}

.contentsWrapper .experienceWrapper .projectWrap .col.appsWrap .part {
  margin-right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.contentsWrapper .experienceWrapper .projectWrap .col.appsWrap .part + .part {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: .1rem solid #ccc;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 1;
  }
  10% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
