@charset "utf-8";

html {
    height: 100%;
    text-size-adjust: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 62.5%;
}

body {
    font: 1.4rem / 1.2 "Noto Sans KR", "NanumGothic", "Malgun Gothic", sans-serif;
}

